<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newyorkerui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewYorkerUI">
        <activity android:name=".Catalog" />
        <activity android:name=".Glasstype" />
        <activity android:name=".Doorhandletype" />
        <activity android:name=".Doortype" />
        <activity android:name=".Loadingscreen" />
        <activity android:name=".ShowAccept" />
        <activity android:name=".UserContact" />
        <activity android:name=".ShowMeasurements" />
        <activity android:name=".ShowWall" />
        <activity android:name=".UserMeasurements" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>